# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*:Zone.Identifier
*.ipynb_checkpoints/
.DS_Store
__pycache__/
*.pyc

MLvenv/
data/
data_*/
data_9/
models/
reports/
ade20k/
chexpert/
chexpert-merged/
chexpert-subset/
cityscapes/
coco/
coco-panoptic-val2017/
isic_masks/
isic2018/
ISIC2018/
mobile_sam.pt
sam2_t.pt
.gradio/
backend/*.pt
Anaconda3-2025.12-2-Linux-x86_64.sh